

<html class=''>
    
<head><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="canonical" href="http://codepen.io/ace-subido/pen/Cuiep" />

<style class="cp-pen-styles">

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email address"] {
  margin-bottom: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
  .form-signin input[type="confirm password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style></head><body>
  
<div class="wrapper">
<div class="container">
  <div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  

    <h1>Sign up.</h1>
    <%= form_for(@u) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    
     <%= f.label :city %>
    <%= f.text_field :city, class: 'form-control' %>
    
     <%= f.label :institution %>
    <%= f.text_field :institution, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    
 <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    <div class="wrapper">
      
      <%= f.submit "Create my account", class: "btn  btn-default" %>
    </div>
    
    <% end %>
  </div>
 </div>
   </div>
<script src='//codepen.io/assets/editor/live/css_live_relload_init.js'></script>
</body></html>


