
    
<% provide(:title, @u.name) %>

<div class="container">
  <div class="container">
  <aside class="col-md-4">
    <section class="u_info">
      <h1>
        <%= gravatar_for @u %>
        <%= @u.name %>
      </h1>
    </section>
  </aside>
    <div class="col-md-8">
      <% if @u.products.any? %>
      <h3>Products (<%= @u.products.count %>)</h3>
      <ol class="products">
        <%= render @products %>
      </ol>
      <%= will_paginate @products %>
    <% end %>
  </div>
</div>
  </div>
     